* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive; /* Fuente actualizada */
    background-color: #f2f2f2; /* Color de fondo */
    color: #333; /* Color de texto */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente */
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.top-menu {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre los enlaces */
}

.logo {
    display: flex;
    align-items: center;
}

.image-container {
    background-image: url("images/wrike.png");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 60px); 
    margin: 0;
}

.hero {
    background-image: url("images/fondo2.png");
    background-size: cover; /
    background-position: center;
    width: 100%;
    height: 100vh;
}

.top-menu a {
    color: gray;
    text-decoration: none;
}

.top-menu a:hover {
    text-decoration: underline;
}

.login-buttons {
    display: flex;
    gap: 10px;
}

.login-buttons a {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Dancing Script', cursive; 
    border-radius: 5px; /* Bordes redondeados */
}

.btn-primary {
    background-color: #007bff; /* Color azul para el bot贸n "Empieza gratis" */
}

.btn-secondary {
    background-color: #28a745; /* Color verde para el bot贸n "Inicio de sesi贸n" */
}

.hero {
    text-align: center;
    margin: 50px 0;
}

.hero h1 {
    font-size: 2.7em; /* Aumentado de 2.5em a 2.7em */
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.4em; /* Aumentado de 1.2em a 1.4em */
    color: rgb(251, 250, 250);
    margin-bottom: 30px;
}

.email-input {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-input input {
    padding: 15px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: 'Dancing Script', cursive; 
    font-size: 1.4em; 
}

.email-input button {
    padding: 15px 30px;
    background-color: #007bff; /* Color azul para el bot贸n "Empieza gratis" */
    border: none;
    color: white;
    font-size: 1em;
    border-radius: 5px; /* Bordes redondeados */
    font-family: 'Dancing Script', cursive; 
}

.partners {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.partners div {
    width: 100px;
    height: 50px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
}
